<body class="ga-background">
  <div class="login-form">
    <h5>Log In</h5>

    <%= form_for @user, url: '/sessions', method: 'post' do |f| %>
      Email: <%= f.text_field :email %><br>
      Password: <%= f.password_field :password %>
      <%= f.submit "Submit", :class => 'waves-effect waves-light btn login' %>
    <% end %>
  </div>
</body>
