<div class="edit">
<h5>Edit Comment</h5>
<%= form_for @comment, :url => update_comment_path do |f| %>
<%= f.text_field :content, :placeholder=>"Content" %>
<%= f.submit "Submit", :class=>'waves-effect waves-red waves-ripple btn' %>
<% end %>
<br />
</div>
