
<div class="edit">
<h5>New Comment</h5>
<%= form_for [@article, @comment], :url => post_comment_path do |f| %>
<div class="row">
  <label for="input_text">Content:</label>
  <%= f.text_field :content, :length=>"500" %>
</div>
<%= f.submit "Submit", :class=>'waves-effect waves-red waves-ripple btn' %>
<% end %>
<br />
</div>
