<div class="edit">
<h5>New Comment</h5>
<%= form_for [@article, @comment], :url => post_comment_path do |f| %>
<%= f.text_field :content, :placeholder=>"Content" %>
<%= f.submit "Submit", :class=>'waves-effect waves-red waves-ripple btn' %>
<% end %>
<br />
</div>
