<body class="ga-background">
  <h1 id="splash-header">General Assembláge</h1>
  <p id="splash-text">General Assembláge is a social networking tool that connects General Assembly students across disciplines and locations to facilitate learning and creating collaboration. Log in or sign up for an account to get started. </p>
</body>
