<body class="ga-background">
  <div class="mobile-splash">
    <h1 id="splash-header">General Assembl치ge</h1>
    <p id="splash-text">General Assembl치ge is a social networking tool that connects General Assembly students across disciplines and locations to facilitate learning and creating collaboration. Log in or sign up for an account to get started. </p>
  </div>
<a class="waves-effect waves-red btn-large waves-ripple btn modal-trigger" href="#modal1">Explore Now!</a>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row cards">
        <div class="col s4">
          <div class="row">
            <div class="card">
              <div class="card-image">
                <img src="http://i.imgur.com/Jsw0nA8.png">
              </div>
              <div class="card-content">
                <h5 class="center-align title">ABOUT</h5>
                <p>On General Assembl치ge current students and alumni of General Assembly can connect with one another to foster further learning and work collaboration. Much like the community search engine found on campus, we seek to make connections across all programs and campuses at GA. </p>
              </div>
            </div>
          </div>
        </div>
      <div class="col s4">
        <div class="row">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/yaAfuJA.png">
            </div>
            <div class="card-content">
              <h5 class="center-align title">PROFILE</h5>
              <p>Users can create an account on General Assembl치ge where they specify what program and location they attended or are currently enrolled in. The profile page includes user information as well as their posts. Here a user can edit their posts and view comments that have been made.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="row">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/XWSBvgZ.png">
            </div>
          <div class="card-content">
            <h5 class="center-align title">FEED</h5>
            <p>The main article feed page is where all users posts can be seen and commented upon. The feed page is keyword searchable and can also be filtered by city and article type. Here users interact across all General Assembly locations to make new connections</p>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
