<body class="ga-background">
  <div class="mobile-splash">
    <h1 id="splash-header">General Assembláge</h1>
    <p id="splash-text">General Assembláge is a social networking tool that connects General Assembly students across disciplines and locations to facilitate learning and creating collaboration. Log in or sign up for an account to get started. </p>
  </div>
<a class="waves-effect waves-red btn-large waves-ripple btn modal-trigger" href="#modal1">Explore Now!</a>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row cards">
        <div class="col s4">
          <div class="row">
            <div class="card">
              <div class="card-image">
                <img src="http://i.imgur.com/Jsw0nA8.png">
              </div>
              <div class="card-content">
                <h5 class="center-align title">ABOUT</h5>
                <p>General Assembláge is a social network for General Assembly alumni to connect and share across all immersive programs and all GA campuses.</p>
              </div>
            </div>
          </div>
        </div>
      <div class="col s4">
        <div class="row">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/chyRdNA.png">
            </div>
            <div class="card-content">
              <h5 class="center-align title">PROFILE</h5>
              <p>Create a profile, rep your campus and your immersive program!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="row">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/XWSBvgZ.png">
            </div>
          <div class="card-content">
            <h5 class="center-align title">FEED</h5>
            <p>View the latest posts from around the GA world and create your own, and specify by type and city.</p>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
