/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";

.ga-background {
  background-image: url(http://i.imgur.com/9G4Ar7a.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-logo {
  position: absolute;
  height: 64px;
  width: auto;
}

.edit-form {
  position: absolute;
  padding-top: 30px;
  left: 30%;
  width: 40%;
  color: rgba(255,255,255,.8);
  line-height: 2px;
}

.edit {
  position: absolute;
  padding-top: 30px;
  left: 30%;
  width: 40%;
}

#splash-header {
  position: absolute;
  top: 20%;
  color: rgba(255,255,255,.4);
  left: 30%;
}

#splash-text {
  position: absolute;;
  top: 30%;
  padding-left: 10%;
  padding-right: 5%;
  color: rgba(255,255,255,.8);
  font-size: 25px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999;
}

.login-form {
  position: absolute;
  padding-top: 30px;
  left: 40%;
  width: 20%;
  color: rgba(255,255,255,.8);
}

.profile-pic {
  height: auto;
  width: 200px;
}

.message{
  color: grey;
}
.comment {
  color: grey;
}

.feed-table {
  position: absolute;
  padding-top: 30px;
  left: 20%;
  width: 60%;
}
.sort-links {
  padding-top: 30px;
}

.waves-red {
  background-color: rgb(250, 69, 66);
}

.waves-red:hover {
  background-color: rgb(250, 15, 15);
}

.nav-hover:hover {
  background-color: white;
  color: rgb(250, 69, 66);
}

.hamburger {
  position: absolute;
  left: 93%;
}

.site-header {
  position: absolute;
  left: 6%;
  right: 90%;
}

.link {
   @extend .red-text, .text-darken-1;
   font-weight: bold;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.digg_pagination .disabled {
  color: #999999;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: rgb(250, 69, 66);
  color: white;
  border: 1px solid rgb(250, 69, 66);
}

.digg_pagination a {
  text-decoration: none;
  color: rgb(250, 69, 66);
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: rgb(250, 69, 66);
  border-color: rgb(250, 69, 66);
}

.digg_pagination .page_info {
  background: rgb(250, 69, 66);
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: rgb(250, 69, 66);
  background: rgb(250, 69, 66);
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}

.edit-delete {
  float: right;
  margin-right: 40px;
}

.edit-delete-article {
  float: right;
  margin-right: 28px;
}

.article-show {
  padding-top: 30px;
}

.modal-trigger{
  position: absolute;
  top: 80%;
  left: 40%;
}

#modal1 {
  width: 90%;
}

.title {
  color: rgb(250, 69, 66);
}
